.titulo{
    display: flex;
    justify-content: center;
    color: lightyellow;
    font-family: Georgia, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link{
    text-decoration: none;
}

#cuerpo{
    background-color: darkslategray
}

*{
    margin: 3px
}

.p {
    border: 3px solid black;
    padding: 20px;
    align-content: center;
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: darkolivegreen
}

.director{
    border: 3px solid darkgreen;
    padding: 20px;
    color: bisque;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkolivegreen
}
.personajes{
    border: 5px solid darkorange;
    padding: 20px;
    color: bisque;
    width: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkred;
    font-size: 20px
}

.imagen{
    display: flex;
    justify-content: center;
}
h2, h4{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey
}

b{
    font-size: 25px;
}
p:hover{
    border: 3px solid black
}
.slythering{
    border: 5px solid darkgreen;
    padding: 20px;
    color: bisque;
    width: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: dimgray;
    font-size: 20px
}
.img{
    display: inline;
}